.button {
  font: inherit;
  border: 1px solid #00a85a;
  background: #00a85a;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #4be49c;
  border-color: #4be49c;
}

.button:focus {
  outline: none;
}
