.carousel {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  overflow: hidden;
  position: relative;
  margin: auto;
}
.slide {
  width: 100px;
  height: 100px;
}
/* .slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.slider::before {
  top: 0;
  left: 0;
}
.slider::after {
  top: 0;
  left: 0;
  transform: rotateZ(100deg);
} */
.slider .slider-track {
  display: flex;
  gap: 100px;

  width: calc(250px * 14);
  animation: scroll 40s infinite linear;
}
.slider .slide img {
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-250px * 2));
  }
}
